# PostgreSQL Database connection URL configuration (Optional)
# DATABASE_URL=postgresql://postgres:yourpassword@db.supabase.co:5432/postgres

# Firebase Realtime Database URL (Optional)
FIREBASE_DATABASE_URL=

# Production Admin Credentials
ADMIN_EMAIL=
ADMIN_PASSWORD=
