# PostgreSQL Database connection URL configuration (Optional)
# DATABASE_URL=postgresql://postgres:yourpassword@db.supabase.co:5432/postgres

# Firebase Realtime Database URL (Optional)
FIREBASE_DATABASE_URL=

# Production Admin Credentials
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Twilio (SMS) Configuration
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

# SMTP (Email) Configuration
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
